@font-face
{
  font-family: 'toyotadisplay_rg';
  src: url('../fonts/toyotadisplay_rg.woff') format('woff');
}
@font-face
{
  font-family: 'toyotatext_rg';
  src: url('../fonts/toyotatext_rg.woff') format('woff');
}
@font-face
{
  font-family: 'toyotatext_bd';
  src: url('../fonts/toyotatext_bd.woff') format('woff');
}
@font-face
{
  font-family: 'toyotadisplay_bd';
  src: url('../fonts/toyotadisplay_bd.woff') format('woff');
}
@font-face
{
  font-family: 'Toyota-icon';
  src: url('../fonts/Toyota-icon.woff') format('woff');
}
@font-face
{
  font-family: 'ToyotaText';
  src: url('../fonts/ToyotaText.woff2') format('woff2');
}
@font-face
{
  font-family: 'ToyotaTextBold';
  src: url('../fonts/ToyotaTextBold.woff2') format('woff2');
}