.hero-unit {
    transform: translate3d(0,0,0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@media (min-width:900px) {
    .hero-unit.hero-medium {
        height: 420px;
        background-size: 1140px auto;
        margin-bottom: 40px;
        min-height: 265px;
        position: static;
        background-repeat: no-repeat;
        background-position: center top;
    }
    .mobile-image {
        display: none;
    }
}
@media (min-width:1200px) {
    .image0 {
        background-image: url('//d1hu588lul0tna.cloudfront.net/toyotaone/ruru/2247-1140x420_tcm-3020-718327.jpg');
    }
}

@media (max-width:768px) {
    .image0 {
        background-image: url('//d1hu588lul0tna.cloudfront.net/toyotaone/ruru/2247-854-6_tcm-3020-718328.jpg');
    }
}