body {
  font-size: 15px;
  background: #fff;
  font-family: toyotatext_rg,Arial,Verdana,Geneva,Helvetica,sans-serif;
  margin-bottom: 0;
  direction: ltr;
  line-height: 1.428571429;
  color: #1e2a32;
}


/*#html50 {*/
  /*font-size: 15px;*/
  /*background: #fff;*/
  /*font-family: toyotatext_rg,Arial,Verdana,Geneva,Helvetica,sans-serif;*/
  /*margin-bottom: 0;*/
  /*direction: ltr;*/
  /*line-height: 1.428571429;*/
  /*color: #1e2a32;*/
/*}*/

.carousel-caption .btn, .text-hide, ::selection {
  text-shadow: none;
}
::selection {
  background: #00a0f0;
}

#html52 {
  margin-top: 90px;
}

@media (min-width: 768px) {
  #html52 {
    margin-top: 56px;
  }
}
@media (min-width: 992px) {
  #html52 {
    text-align: center;
  }
}

.spares-container {
  display: block;
}